<h2>Today's Stats</h2>
<%= render :partial => "percentages", :locals => {:task_stats => TrackableTasks::TaskRun.percentages_by_task_type("today") } %>

<h2>This Week's Stats</h2>
<%= render :partial => "percentages", :locals => {:task_stats => TrackableTasks::TaskRun.percentages_by_task_type("week") } %>

<h2>Chart</h2>
<%= render :partial => "chart", :locals => { :task_runs => @task_runs } %>
